@charset "UTF-8";
body {
  font-family: georgia;
  line-height: 1.6em; }

h1 {
  font-size: 1em;
  margin: 2em 0;
  color: white;
  text-align: center; }

h2 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 2em 0; }
  h2::before, h2::after {
    content: ' – '; }

#main {
  max-width: 900px;
  width: 90%;
  margin: 2em auto;
  background: black; }

header {
  text-align: center; }

nav {
  border-top: solid 2px white;
  padding-top: 1em; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: block;
        color: black;
        padding: 1em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9em;
        border-radius: 0.3em; }
        nav ul li a:hover {
          background: white;
          color: black; }
        nav ul li a.activo {
          background: #8f0f0f;
          color: black;
          animation: enlace-menu 500ms ease-in-out forwards; }

#contenido {
  margin-top: 1em;
  border-top: solid 2px black;
  perspective: 1000px; }

.bloque {
  background: black;
  padding: 3em 2em;
  display: none; }
  .bloque p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: white; }
  .bloque.visible {
    display: block;
    animation: bloque-visible 500ms ease-in-out forwards;
    transform-origin: top center; }

@keyframes bloque-visible {
  0% {
    opacity: 0;
    transform: rotateX(-90deg); }
  60% {
    transform: rotateX(20deg); }
  75% {
    transform: rotateX(-10deg); }
  90% {
    transform: rotateX(5deg); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }

@keyframes enlace-menu {
  0% {
    transform: scale(0.8); }
  70% {
    transform: scale(1.1); }
  85% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }

/*.footer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
    margin-top: 100px;
}

.footer__color {
    color: #A6A4E9;
}

.footer__color--c {
    background-color: #A6A4E9;
    color: black;
} */
body {
  background: #000000; }

.btn.btn-raised.btn-primary {
  background-color: #8f0000 !important;
  font-size: 13px;
  width: 100%;
  padding: 10px;
  text-align: center; }

header {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-align: center; }

header h1 {
  font-size: 20px;
  margin: 0;
  text-align: center; }

.error {
  background-color: #FBE9E7;
  border: 1px solid #F4511E;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #F4511E; }

.correcto {
  background-color: #d3f9bb;
  border: 1px solid #32a700;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #049632; }

.error p {
  margin: 0; }

#contenido {
  padding: 100px;
  width: 950px;
  margin-top: 15px;
  background-color: black;
  -webkit-box-shadow: 0px 21px 46px -15px black;
  -moz-box-shadow: 0px 21px 46px -15px black;
  box-shadow: 0px 21px 46px -15px black;
  text-align: center; }

.contenido-formulario {
  margin-top: 30px; }

#cargando {
  text-align: center; }

#cargando img {
  display: none;
  margin: 0 auto; }

#resultado {
  margin-bottom: 40px; }

#resultado div {
  border: 1px solid #880404;
  text-align: center;
  padding: 0 0 20px 0; }

#resultado div p {
  margin-bottom: 0; }

#resultado div p.header {
  background-color: #b11414;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold; }

body {
  margin: 0; }

.carrusel {
  display: flex; }

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 0px;
  transition: transform 0.3s ease-in-out; }

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  outline: 2px solid black; }

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.carrusel-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }
