@charset "UTF-8";
.navegador {
  background-color: black;
  margin: 0;
  padding: 1px;
  position: fixed;
  top: 0;
  width: 100%; }

.navegador__a {
  font-style: italic; }

.navegador__a--color {
  color: #d6bfff; }

.navegador__diseño {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.navegador__diseño--color {
  text-decoration: #d6bfff; }

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 3px; }

.carrusel__ancho {
  width: 30em; }

.carrusel__ancho--largo {
  height: 40em; }

.body {
  background: #000000;
  padding-top: 70px; }

.body__h2 {
  font-style: italic; }

.body__h2--diseño {
  color: white;
  font-size: 1.5rem;
  text-shadow: 3px 3px 3px #A181E3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px; }

img {
  width: 30em;
  height: 30em; }

.p {
  color: white;
  margin: 10px;
  padding: 10px; }

.p__strong {
  color: #fcfbff; }

.p__strong--sub {
  text-shadow: 3px 3px 3px #D6BFFF;
  text-align: justify; }

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-item :hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.grid-item p {
  margin: 15px;
  font-size: 25px;
  font-family: cursive;
  background-color: black;
  width: 30%;
  text-align: center;
  color: white;
  font-weight: bold; }

.grid-item img {
  object-fit: cover;
  width: 15cm;
  height: 15cm; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1tr));
  grid-auto-rows: minmax(275px, auto);
  gap: 100px;
  padding: 20px;
  grid-auto-flow: dense; }

input {
  width: 280px;
  height: 25px;
  transition: all 2s; }

input:focus {
  width: 260px;
  font-size: 26px; }

label {
  color: #D6BFFF;
  margin: 3px;
  padding: 3px; }

legend {
  color: #D6BFFF; }

#wrapper {
  background-color: black;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%; }

.media {
  display: flex;
  align-items: flex-start;
  background: #000000;
  padding: 1em;
  border-radius: 3px;
  text-align: justify; }

.media-object {
  margin-right: 1em; }

.media-body {
  flex: 1; }

.media-heading {
  margin: 0 0 .5em; }

.media {
  display: flex;
  align-items: flex-start;
  background: #000000;
  padding: 1em;
  border-radius: 3px;
  text-align: justify; }

.media-object {
  margin-right: 1em; }

.media-body {
  flex: 1; }

.media-heading {
  margin: 0 0 .5em; }

.redsocial, .redsocial--nueva {
  border: 3px #7356d1;
  background-color: #A6A4E9; }

.redsocial--nueva {
  border-width: 3px; }

.boton {
  color: #D6BFFF;
  margin: 3px; }
