.body {
    background: #000000;
    padding-top: 70px;
}

.body__h2 {
    font-style: italic
}

.body__h2--diseño {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px #A181E3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}