.carrucel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

.carrucel__ancho {
    width: 300px;
}

.carrucel__ancho--largo {
    height: 400px;
}