.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

.carrusel__ancho {
    width: 30em;
}

.carrusel__ancho--largo {
    height: 40em;
}