.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

.carrusel__ancho {
    width: 100%;
}

@media screen and (max-width: 400px) {
    .carrusel {
        width: 80%;
    }
}