.carrucel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
}

.carrucel__ancho {
    width: 60em;
}

.carrucel__ancho--largo {
    height: 40em;
}