.media {
    display: flex;
    align-items: flex-start;
    background: #000000;
    padding: 1em;
    border-radius: 3px;
    text-align: justify;
}

.media-object {
    margin-right: 1em;
}

.media-body {
    flex: 1;
}

.media-heading {
    margin: 0 0 .5em;
}