 /*.footer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
    margin-top: 100px;
}

.footer__color {
    color: #A6A4E9;
}

.footer__color--c {
    background-color: #A6A4E9;
    color: black;
} */