        .container {
            flex: 1;
        }
        
        form {
            background-color: rgb(0, 0, 0);
            padding: 40px 0;
            box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
            border-radius: 10px;
        }
        
        .form {
            width: 50%;
            margin: auto;
        }
        
        .grupo {
            position: relative;
            margin: 45px;
        }
        
        h1 {
            margin: 45px;
        }
        
        label {
            color: rgb(255, 255, 255);
            font-size: 16px;
            position: absolute;
            left: 5px;
            top: 10px;
            transition: 0.5s ease-in;
            pointer-events: none;
        }
        
        input,
        textarea {
            background: none;
            color: #D6BFFF;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--colortextos);
            &:focus {
                outline: none;
                color: #A6A4E9;
            }
            &:focus~::before {
                width: 100%;
            }
            &:focus~label,
            &:valid~label {
                top: -14px;
                font-size: 12px;
                color: #D6BFFF;
            }
        }
        
        .barra {
            position: relative;
            display: block;
            width: 100%;
            &::before {
                content: "";
                height: 2px;
                width: 0%;
                bottom: 0;
                position: absolute;
                transition: 0.3s ease whidt;
                left: 0;
            }
        }
        
        button {
            font-family: 'Roboto Condensed', sans-serif;
            background: linear-gradient(to right, #A6A4E9, blueviolet);
            ;
            color: blueviolet;
            border: none;
            display: block;
            width: 50%;
            margin: 10px auto;
            color: #fff;
            height: 40px;
            font-size: 16px;
            cursor: pointer;
        }
        
        @media screen and (max-width:500px) {
            form {
                width: 80%;
            }
        }