.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item :hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-item p {
    margin: 15px;
    font-size: 18px;
    background-color: black;
    width: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic
}

.grid-item img {
    object-fit: cover;
    width: 15cm;
    height: 15cm;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1tr));
    grid-auto-rows: minmax(275px, auto);
    gap: 100px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media screen and (max-width:500px) {
    .grid {
        width: 80%;
    }
}