.navegador {
    background-color: rgb(0, 0, 0);
}

.navegador__a {
    font-style: italic;
}

.navegador__a--color {
    color: white;
}

.navegador__diseño {
    font-size: 15px;
    font-family: serif;
}

.navegador__diseño--color {
    text-decoration: rgb(149, 134, 219);
}