.navegador {
    background-color: #A6A4E9;
    margin: 0;
    padding: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    font-weight: 500;
}

.navegador__a {
    font-style: italic;
}

.navegador__a--color {
    color: white;
}

.navegador__diseño {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.navegador__diseño--color {
    text-decoration: #d6bfff;
}

.navegador__titulo {
    color: white;
}