.p {
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
}

.p__strong {
    color: rgb(252, 251, 255);
}

.p__strong--sub {
    text-shadow: 3px 3px 3px #D6BFFF;
    text-align: justify;
}

.parrafo {
    color: rgb(215, 184, 243);
    margin: 8px;
    padding: 8px;
    font-style: italic;
}