    .container {
        display: flex;
    }
    
    .cubo1 {
        height: 100px;
        width: 100px;
        background-color: rgb(216, 162, 246);
    }
    
    .cubo2 {
        height: 100px;
        width: 100px;
        background-color: rgb(29, 0, 44);
    }
    
    .cubo3 {
        height: 100px;
        width: 100px;
        background-color: rgb(148, 115, 167);
    }